
html, body {
    text-align: center;
    color: white;
    background-color: black;
    margin: 50px;
}

h1 {
    font-size: 60px;
}
p {
    font-size: 30px;
    padding-bottom: 50px;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}
button {
    border: 2px solid white;
    background-color: black;
    color: white;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    
}

button:hover {
    background-color: darkslategrey;
    cursor: pointer;
}

